@import "bootstrap";

html {
background-image:url('back.jpg');

}

body {
	
	background-image:url('back.jpg');
	font-family:"Georgia", serif;


}

#bio {
	text-align:center;


}

#blogcont {
	
	padding-left:20px;
	padding-right:20px;
	
}

#blog {

text-align:center;
}


