@import "bootstrap";

html {
background-image:url("http://i44.tinypic.com/10r1sty.jpg");

}

body {
	
	background-image:url("http://i44.tinypic.com/10r1sty.jpg");
	font-family:"Georgia", serif;
	color:#ffffff;


}

#bio {
	text-align:center;


}

#blogcont {
	
	padding-left:20px;
	padding-right:20px;
	
}

#blog {

text-align:center;
}


