@import "bootstrap";

html {
background-image:url("http://i41.tinypic.com/iyztac.jpg");

}

body {
	
	background-image:url("http://i41.tinypic.com/iyztac.jpg");
	font-family:"Georgia", serif;


}

#bio {
	text-align:center;


}

#blogcont {
	
	padding-left:20px;
	padding-right:20px;
	
}

#blog {

text-align:center;
}


