<!DOCTYPE html>
<html>
<head>
  <title>Samuel Shreder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

     <%= javascript_include_tag "application", "data-turbolinks-track" => true %> 
  <%= csrf_meta_tags %>

</head>
<body>


<div id="bio">
<br><br>

<img src="http://i40.tinypic.com/4qgejc.jpg" border="0" width=275>

<br><br>

<h1>Samuel Shreder</h1>
<p><em>Full stack web app developer</em></p>
<h3>Skills</h3>
<p>Ruby on Rails, CSS/Bootstrap, Javascript/Jquery, Postegres, Heroku, Amazon Web Services<p>

<h3>Portfolio</h3>

<p>
<a href="http://SevilleDesignJewel.com">www.SevilleDesignJewel.com</a>
</p>
<p><a href="http://www.thedailycount.com">www.TheDailyCount.com</a><p>
	<br>
<a href="mailto:szshreder@gmail.com"><button type="button" class="btn btn-primary">Email me</button></a>

<a href="https://github.com/sammy1088"><button type="button" class="btn btn-primary">My GitHub Profile</button></a>
<br>
</div>
</div>

</div>

</body>

</html>
